################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin/Debug/net6.0/.msCoverageSourceRootsMapping_UITestProject
/bin/Debug/net6.0/.playwright
/bin/Debug/net6.0/appsettings.json
/bin/Debug/net6.0/BoDi.dll
/bin/Debug/net6.0/cs
/bin/Debug/net6.0/de
/bin/Debug/net6.0/es
/bin/Debug/net6.0/FluentAssertions.dll
/bin/Debug/net6.0/fr
/bin/Debug/net6.0/Gherkin.dll
/bin/Debug/net6.0/it
/bin/Debug/net6.0/ja
/bin/Debug/net6.0/ko
/bin/Debug/net6.0/LivingDoc.Dtos.dll
/bin/Debug/net6.0/livingdoc.html
/bin/Debug/net6.0/LivingDoc.SpecFlowPlugin.dll
/bin/Debug/net6.0/Login - inviad user-trace.zip
/bin/Debug/net6.0/Microsoft.Bcl.AsyncInterfaces.dll
/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Binder.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
/bin/Debug/net6.0/Microsoft.Playwright.dll
/bin/Debug/net6.0/Microsoft.Playwright.NUnit.dll
/bin/Debug/net6.0/Microsoft.Playwright.TestAdapter.dll
/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/bin/Debug/net6.0/Models/Data/JSON
/bin/Debug/net6.0/Newtonsoft.Json.dll
/bin/Debug/net6.0/nunit.engine.api.dll
/bin/Debug/net6.0/nunit.engine.core.dll
/bin/Debug/net6.0/nunit.engine.dll
/bin/Debug/net6.0/nunit.framework.dll
/bin/Debug/net6.0/NUnit3.TestAdapter.dll
/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
/bin/Debug/net6.0/nunit_random_seed.tmp
/bin/Debug/net6.0/pl
/bin/Debug/net6.0/playwright.ps1
/bin/Debug/net6.0/pt-BR
/bin/Debug/net6.0/ru
/bin/Debug/net6.0/runtimes/win/lib/netstandard2.0
/bin/Debug/net6.0/Screenshots/Login - inviad user
/bin/Debug/net6.0/SpecFlow.Internal.Json.dll
/bin/Debug/net6.0/System.Configuration.ConfigurationManager.dll
/bin/Debug/net6.0/System.IO.Pipelines.dll
/bin/Debug/net6.0/System.Security.Cryptography.ProtectedData.dll
/bin/Debug/net6.0/System.Security.Permissions.dll
/bin/Debug/net6.0/System.Text.Encodings.Web.dll
/bin/Debug/net6.0/System.Text.Json.dll
/bin/Debug/net6.0/TechTalk.SpecFlow.dll
/bin/Debug/net6.0/TechTalk.SpecFlow.NUnit.SpecFlowPlugin.dll
/bin/Debug/net6.0/testcentric.engine.metadata.dll
/bin/Debug/net6.0/TestExecution.json
/bin/Debug/net6.0/testhost.dll
/bin/Debug/net6.0/testhost.exe
/bin/Debug/net6.0/tr
/bin/Debug/net6.0/TrainingAutomationFramework.pdb
/bin/Debug/net6.0/UITestProject.deps.json
/bin/Debug/net6.0/UITestProject.dll
/bin/Debug/net6.0/UITestProject.pdb
/bin/Debug/net6.0/UITestProject.runtimeconfig.json
/bin/Debug/net6.0/zh-Hans
/bin/Debug/net6.0/zh-Hant
/UITestProject/bin/Debug/net6.0
/UITestProject/obj
